:host {
  display: block;
  width: min(90%, 380px);

  .social-links__container {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    height: 100%;
  }

  .social-links__avatar-container,
  .social-links__user-info,
  .social-links__content {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
  }

  .social-links__avatar-container {
    margin-bottom: 1.2rem;
  }

  .social-links__user-info {
    margin-bottom: 1.5rem;
  }

  .social-links__content {
    padding: 0 1rem;
    gap: 1rem;
  }

  .social-links__avatar {
    width: 88px;
    height: 88px;
    border-radius: 50%;
  }

  .social-links__item {
    display: flex;
    box-sizing: border-box;
    border: none;
    justify-content: center;
    align-items: center;
  }
}
