@use 'variables';

@mixin social-links-theme {
  .social-links {
    background-color: variables.$dark-grey;
    border-radius: 10px;

    @include variables.media-desktop {
      padding: 2rem;
    }
  }

  .social-links__user-info {
    h1 {
      font-size: 20px;
      margin-bottom: 1rem;
      text-align: center;
    }
    h5 {
      font-size: 12px;
      margin-bottom: 2rem;
      text-align: center;
    }
    p {
      text-align: center;
      font-weight: 400;
    }
  }

  a.social-links__item {
    background-color: variables.$grey;
    font-weight: 900;
    width: 100%;
    padding: 1rem;
    border-radius: 10px;

    &,
    &:visited {
      color: variables.$white;
      text-decoration: none;
    }
    &:hover {
      background-color: variables.$primary-color;
      color: variables.$black;
    }
  }
}
